body{
    width: 100%;
    /* height: 100vh; */
}
.mainbody {
    width: 100%;
    /* height: 100vh; */
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(255,255,255,1) 100%);
    color: white;
}

li a{
    display: block;
    width: 100%;    /* li 요소의 너비를 100%로 채움 */
    height: 100%;   /* li 요소의 높이를 100%로 채움 */
}
.Block a{
    /* display: block; */
}

.black{
    color: black;
}
.white{
    color:white;
}