
/* ====================================== 찜한 컨텐츠 ===================================  */
.bookmark{
    width: 100%;
}

.bookmark_head{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.bookmark_movie{
    width: 70%;
    margin-top: 10px;
}

.bookmark_movie_ul{
    display: flex;
}
.bookmark_movie img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.bookMarkPoster{
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

/* 포스터 제목 css */
.bookMarkPoster a::after{
    content: "반지의 제왕";
    font-size: 2rem;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    transition: 0.5s;
    bottom: -100px;
    left: 0%;

}
/* 포스터 hover시 제목 올라오는 효과*/
.bookMarkPoster:hover ::after{
    bottom: 5px;
}

/* 포스터 hover시 포스터가 올라가고 뒤에 그림자 효과 */
.bookMarkPoster:hover{
    transition: 0.3s;
    transform: translateY(-10px);
    /* box-shadow: 5px 5px 10px rgb(255, 255, 255); */
}

/* ============================== 나의 리뷰  ===================================== */

.myreview{
    width: 100%;
    margin-top: 20px;
 
}

.myreview_head{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

/* 리뷰 내용 */

.my_review_list{
    margin-top: 10px;
    width: 100%;
}
.my_review_list_ul{
    width: 60%;
    /* margin-top: 10px; */
    display: flex;
}
.my_review_list_ul:nth-child(2n-1){
    background-color: #5e5e5e;
}

.my_review_list_ul:hover{
    background-color: #7ba5ff;
}
.my_review_list_ul li{
    text-align: center;
    /* border: 1px solid red; */
}


.reviewMovie{
    width: 20%;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieReview{
    width: 55%;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reviewDate{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reviewStar{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewBtn{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyreviewDeleteBtn{
    width: 100%;
    height: 100%;
    color: #ffffff;
    border: none;
    background: #ffffff00;
}
.MyreviewDeleteBtn:hover{
    color: #000;
    border-left: 1px solid rgb(0, 0, 0);
    background: #94ff7a;
}

/* 리뷰 페이지 버튼*/
.myreview_page{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid red; */
}


.myreview_page_ul{
    width: 50%;
    
    /* border: 1px solid red; */
    display: flex;
}
.myreview_page_ul li{
    width: 100%;
    /* border: 1px solid white; */
    text-align: center;
}

/* ======================== 회원 정보 수정 ============================== */
.member_form{
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

.member_info_head{
    font-size: 2rem;
}

.member_info{
    /* border: 1px solid red; */
    
    /* text-align: left; */
}
.form_div{
    margin-top: 10px;
    width: 30%;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: right;
}


.form_div div:first-child{
    width: 30%;
    margin-right: 10px;
    text-align: right;
    /* display: flex; */
}

.form_div div:last-child{
    width: 70%;
    /* border: 1px solid red; */
    text-align: left;
}
.form_div div:last-child input{
    width: 80%;
    border-radius: 5px;
    height: 20px;
}
.form_div div:last-child button{
    width: 80%;
    height: 25px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
/* submit 버튼 */
.submit_div{
    width: 30%;
    margin-top: 10px;
    /* border: 1px solid red; */
}
.submit_div input[type="submit"]{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}


.member_withdrawal{
    width: 80%;
    text-align: right;
}
.Gray{
    color: gray;
}



