.NoticeWrite{
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.writeForm{
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.WritetTitle{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid white; */
    text-align: center;
}

.WritetTitle input{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-align: center;
    outline: none;
}
.WritetTitle input:focus{
    box-shadow: 0px 0px 15px rgb(20, 216, 241);
}
.WriteText{
    width: 100%;
    margin-top: 10px;
    text-align: center;

}

.WriteText textarea{
    width: 80%;
    height: 500px;
    border-radius: 5px;
    resize: none;
    border: none;
    outline: none;
}
.WriteText textarea:focus{
    box-shadow: 0px 0px 15px rgb(20, 216, 241);
}

/* 글쓰기 버튼 */
.WriteSubmit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.WriteSubmit input{
    width: 200px;
    height: 50px;
}









