.wrap{
    /* text-align: left; */
    width: 500px;
    border-radius: 5px;
}

.signupheder{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.inner{
    width: 500px;
}

/* 아이디 */
.idDiv{
    display: flex;
}
.username2{
    width: 100%;
}
.idbutton{
    width: 100px;
    margin-top: 22px;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid red; */
}

/* 이메일 */
.emailDiv{
    display: flex;
}
.email2{
    width: 100%;
}
.emailbutton{
    padding-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
}


.commonpage{
    width: calc(93% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.phone{
    width: 25%;
}
.email{
    width: 43%;
}


.text {
    width: 460px;
    height: 200px;
    border: 1px solid #dadada;
    overflow-y: scroll;
    color: white;
    padding: 8px;
    margin-top: 5px;
    margin-right: 20px;
}
.asd{
    width: 420px;
}

.sel{
    width: 420px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#red_color {
    display: flex;
    color: rgb(204, 61, 61);
}

.custom-checkbox {

    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    /* border: 1px solid red */
}
.checkmark{
    width: 280px;
    /* height: 50px; */
    /* border: 1px solid green; */
}



/* 커스텀 체크박스 스타일 */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}


/* 회원가입 버튼 */
.signupsubmit{
    position: relative;
    width: 476px;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    bottom: -20px;
    margin-bottom: 40px;
}